@import "colours";

.services{
       
    h1{
       @extend .head-h1; 
       margin-top: 2%;      
    }
    #services-part{
        margin:2.4rem;
        display: flex;
        .box{
            border:2px solid $brown;
            padding:2.2rem;
            margin:0.25rem 0.90rem;

            border-radius: 1.2rem;
            background-color: $box-bg;
            img{
                    height: 7.5rem;
                    margin: auto;
                    display: block;
            }
            h2{
                 @extend .head-h2;
            }
            p{
            
           font-family: 'Bree Serif', serif;
            }
        }
    }
}
@media (max-width:1000px)
{  
.services{
    h1{
        font-size: 1.5rem!important;
    }   
    #services-part{
        flex-direction: column;
        .box{
            padding:1.8rem;
            margin:0.25rem 0.60rem;
            margin-bottom: 1rem;
            img{
                  height: 3.5rem;
            }
            h2{
                font-size: 1rem!important;
            }
            p{
                font-size: 0.70rem;
            }
        }
    }
}
   
}